Tortuga.Test/schemas/ILCD_ProcessDataSet.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- @version-tag-schemas@ -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ilcd="http://lca.jrc.it/ILCD" xmlns:process="http://lca.jrc.it/ILCD/Process" xmlns="http://lca.jrc.it/ILCD/Process"
    xmlns:edoc="http://www.iai.fzk.de/lca/edoc" xmlns:common="http://lca.jrc.it/ILCD/Common" targetNamespace="http://lca.jrc.it/ILCD/Process" elementFormDefault="qualified"
    version="1.1">
    <xs:import namespace="http://lca.jrc.it/ILCD/Common" schemaLocation="ILCD_Common_Groups.xsd"/>
    <xs:redefine schemaLocation="ILCD_Common_Validation.xsd">
        <xs:simpleType name="MethodOfReviewValues">
            <xs:restriction base="MethodOfReviewValues">
                <xs:enumeration value="Validation of data sources"/>
                <xs:enumeration value="Sample tests on calculations"/>
                <xs:enumeration value="Energy balance"/>
                <xs:enumeration value="Element balance"/>
                <xs:enumeration value="Cross-check with other source"/>
                <xs:enumeration value="Cross-check with other data set"/>
                <xs:enumeration value="Expert judgement"/>
                <xs:enumeration value="Mass balance"/>
                <xs:enumeration value="Compliance with legal limits"/>
                <xs:enumeration value="Compliance with ISO 14040 to 14044"/>
                <xs:enumeration value="Documentation"/>
                <xs:enumeration value="Evidence collection by means of plant visits and/or interviews"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:redefine>
    <xs:complexType name="AdministrativeInformationType" mixed="false">
        <xs:sequence>
            <!--<xs:element ref="common:commissionerAndGoal" minOccurs="0" edoc:id="1-5-24"/>-->
            <!--<xs:element name="dataGenerator" type="DataGeneratorType" minOccurs="0" edoc:id="1-5-26"/>-->
            <xs:element name="dataEntryBy" type="DataEntryByType" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <ilcd:element id="1-5-28" name="dataEntryBy"/>
                        <ilcd:display-name>Dateneingabe</ilcd:display-name>
                        <ilcd:iso-field-id>3.6, and related</ilcd:iso-field-id>
                        <ilcd:iso-field-name>Data documentator</ilcd:iso-field-name>
                        <ilcd:field-motivation>r</ilcd:field-motivation>
                        <ilcd:field-requirement>r</ilcd:field-requirement>
                    </xs:appinfo>
                    <xs:documentation>Staff or entity, that documented the generated data set, entering the information into the database; plus administrative information linked to
                        the data entry activity.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="publicationAndOwnership" type="PublicationAndOwnershipType" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <ilcd:element id="1-5-30" name="publicationAndOwnership"/>
                        <ilcd:display-name>Veröffentlichung und Eigentümer</ilcd:display-name>
                        <ilcd:iso-field-id>3.8, 3.9, 3.10 and related</ilcd:iso-field-id>
                        <ilcd:iso-field-name>Publication, Copyright, Access restrictions</ilcd:iso-field-name>
                        <ilcd:field-requirement>r</ilcd:field-requirement>
                    </xs:appinfo>
                    <xs:documentation>Information related to publication and version management of the data set including copyright and access restrictions.</xs:documentation>
                </xs:annotation>
                <xs:unique name="accessRestrictionsLangUniqueConstraint">
                    <xs:selector xpath="common:accessRestrictions"/>
                    <xs:field xpath="@xml:lang"/>
                </xs:unique>
            </xs:element>
            <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:anyAttribute namespace="##other" processContents="lax"/>
    </xs:complexType>
    <xs:complexType name="AllocationsType">
        <xs:sequence>
            <xs:element name="allocation" type="AllocationType" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:appinfo>
                        <ilcd:element id="1-7-32-201" name="allocation"/>
                        <ilcd:display-name>Allocation</ilcd:display-name>
                        <ilcd:iso-field-id>0</ilcd:iso-field-id>
                        <ilcd:iso-field-name/>
                        <ilcd:field-motivation>r</ilcd:field-motivation>
                        <ilcd:field-requirement>o</ilcd:field-requirement>
                    </xs:appinfo>
                    <xs:documentation>specifies one allocation of this exchange (see the attributes of this tag below)</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AllocationType">
        <xs:attribute name="internalReferenceToCoProduct" type="common:Int6">
            <xs:annotation>
                <xs:appinfo>
                    <ilcd:element id="1-7-32-202" name="internalReferenceToCoProduct"/>
                    <ilcd:display-name>Internal reference to co-product</ilcd:display-name>
                    <ilcd:iso-field-id>0</ilcd:iso-field-id>
                    <ilcd:iso-field-name/>
                    <ilcd:field-motivation>r</ilcd:field-motivation>
                    <ilcd:field-requirement>o</ilcd:field-requirement>
                </xs:appinfo>
                <xs:documentation>Reference to one of the co-products. The applied allocation approach(es), details and and explanations are documented in the fields "LCI method
                    approaches" and "Deviations from LCI method approaches / explanations". [Notes: Applicable only to multifunctional processes. The documented allocated fractions
                    are only applicable when using the data set for attributional modelling and are to be ignored for consequential modeling.]</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="allocatedFraction" type="common:Perc">
            <xs:annotation>
                <xs:appinfo>
                    <ilcd:element id="1-7-32-203" name="allocatedFraction"/>
                    <ilcd:display-name>Allocated fraction</ilcd:display-name>
                    <ilcd:iso-field-id>0</ilcd:iso-field-id>
                    <ilcd:iso-field-name/>
                    <ilcd:field-motivation>r</ilcd:field-motivation>
                    <ilcd:field-requirement>o</ilcd:field-requirement>
                </xs:appinfo>
                <xs:documentation>Fraction (expressed in %) of this Input or Output flow that is foreseen to be allocated to this co-product (recommended allocation). The numbers
                    across the co-products should sum up to 100%.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <!--<xs:complexType name="ComplementingProcessesType">
    <xs:sequence>
      <xs:element name="referenceToComplementingProcess" type="common:GlobalReferenceType" maxOccurs="unbounded" edoc:id="1-1-2-8-1"/>
    </xs:sequence>
  </xs:complexType>-->
    <!--<xs:complexType name="CompletenessElementaryFlowsType">
    <xs:attribute name="type" type="common:CompletenessTypeValues" edoc:id="1-3-18-65-1"/>
    <xs:attribute name="value" type="common:CompletenessValues" edoc:id="1-3-18-65-2"/>
    <xs:anyAttribute namespace="##other" processContents="lax"/>
  </xs:complexType>-->
    <!--<xs:complexType name="CompletenessType" mixed="false">
    <xs:sequence>
      <xs:element name="completenessProductModel" type="common:CompletenessValues" minOccurs="0" edoc:id="1-3-18-63"/>
      <xs:element name="referenceToSupportedImpactAssessmentMethods" type="common:GlobalReferenceType" minOccurs="0" maxOccurs="unbounded" edoc:id="1-3-18-64">
        <xs:unique name="referenceToSupportedImpactAssessmentMethodsShortDescriptionLangUniqueConstraint">
          <xs:selector xpath="common:shortDescription"/>
          <xs:field xpath="@xml:lang"/>
        </xs:unique>
      </xs:element>
      <xs:element name="completenessElementaryFlows" type="CompletenessElementaryFlowsType" minOccurs="0" maxOccurs="unbounded" edoc:id="1-3-18-65"/>
      <xs:element name="completenessOtherProblemField" type="common:FTMultiLang" minOccurs="0" maxOccurs="100" edoc:id="1-3-18-80"/>
      <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:anyAttribute namespace="##other" processContents="lax"/>
  </xs:complexType>-->
    <xs:complexType name="ComplianceDeclarationsType" mixed="false">
        <xs:sequence>
            <xs:element name="compliance" type="ComplianceType" minOccurs="1" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:appinfo>
                        <ilcd:element id="1-3-22-1" name="compliance"/>
                        <ilcd:display-name>Konformität</ilcd:display-name>
                        <ilcd:iso-field-id>0</ilcd:iso-field-id>
                        <ilcd:iso-field-name/>
                        <ilcd:field-requirement>r</ilcd:field-requirement>
                    </xs:appinfo>
                    <xs:documentation>one compliance declaration</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:anyAttribute namespace="##other" processContents="lax"/>
    </xs:complexType>
    <xs:complexType name="ComplianceType">
        <xs:sequence>
            <xs:group ref="common:ComplianceGroup"/>
            <xs:element ref="common:nomenclatureCompliance" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <ilcd:element id="1-3-22-92" name="nomenclatureCompliance"/>
                        <ilcd:display-name>Nomenclature compliance</ilcd:display-name>
                        <ilcd:iso-field-id>0</ilcd:iso-field-id>
                        <ilcd:iso-field-name/>
                        <ilcd:field-motivation>r</ilcd:field-motivation>
                        <ilcd:field-requirement>r</ilcd:field-requirement>
                    </xs:appinfo>
                    <xs:documentation>Nomenclature compliance of this data set with the respective requirements set by the "compliance system" refered to.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="common:methodologicalCompliance" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <ilcd:element id="1-3-22-91" name="methodologicalCompliance"/>
                        <ilcd:display-name>Methodological compliance</ilcd:display-name>
                        <ilcd:iso-field-id>0</ilcd:iso-field-id>
                        <ilcd:iso-field-name/>
                        <ilcd:field-motivation>r</ilcd:field-motivation>
                        <ilcd:field-requirement>r</ilcd:field-requirement>
                    </xs:appinfo>
                    <xs:documentation>Methodological compliance of this data set with the respective requirements set by the "compliance system" refered to.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="common:reviewCompliance" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <ilcd:element id="1-3-22-93" name="reviewCompliance"/>
                        <ilcd:display-name>Review compliance</ilcd:display-name>
                        <ilcd:iso-field-id>0</ilcd:iso-field-id>
                        <ilcd:iso-field-name/>
                        <ilcd:field-motivation>r</ilcd:field-motivation>
                        <ilcd:field-requirement>r</ilcd:field-requirement>
                    </xs:appinfo>
                    <xs:documentation>Review/Verification compliance of this data set with the respective requirements set by the "compliance system" refered to.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="common:documentationCompliance" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <ilcd:element id="1-3-22-94" name="documentationCompliance"/>
                        <ilcd:display-name>Documentation compliance</ilcd:display-name>
                        <ilcd:iso-field-id>0</ilcd:iso-field-id>
                        <ilcd:iso-field-name/>
                        <ilcd:field-motivation>r</ilcd:field-motivation>
                        <ilcd:field-requirement>r</ilcd:field-requirement>
                    </xs:appinfo>
                    <xs:documentation>Documentation/Reporting compliance of this data set with the respective requirements set by the "compliance system" refered
                        to.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="common:qualityCompliance" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:appinfo>
                        <ilcd:element id="1-3-22-96" name="qualityCompliance"/>
                        <ilcd:display-name>Quality compliance</ilcd:display-name>
                        <ilcd:iso-field-id>0</ilcd:iso-field-id>
                        <ilcd:iso-field-name/>
                        <ilcd:field-motivation>r</ilcd:field-motivation>
                        <ilcd:field-requirement>r</ilcd:field-requirement>
                    </xs:appinfo>
                    <xs:documentation>Quality compliance of this data set with the respective requirements set by the "compliance system" refered to.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:anyAttribute namespace="##other" processContents="lax"/>
    </xs:complexType>
    <xs:complexType name="DataEntryByType">
        <xs:sequence>
            <xs:group ref="common:DataEntryByGroup1"/>
            <!--<xs:element ref="common:referenceToConvertedOriginalDataSetFrom" minOccurs="0" edoc:id="1-5-28-108"/>-->
            <xs:group ref="common:DataEntryByGroup2"/>
            <!--<xs:element ref="common:referenceToDataSetUseApproval" minOccurs="0" maxOccurs="unbounded" edoc:id="1-5-28-109"/>-->
            <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:anyAttribute namespace="##other" processContents="lax"/>
    </xs:complexType>
    <xs:complexType name="DataGeneratorType">
        <xs:sequence>
            <xs:element ref="common:referenceToPersonOrEntityGeneratingTheDataSet" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <ilcd:element id="1-5-26-99" name="referenceToPersonOrEntityGeneratingTheDataSet"/>
                        <ilcd:display-name>Data set generator / modeller</ilcd:display-name>
                        <ilcd:iso-field-id>3.5</ilcd:iso-field-id>
                        <ilcd:iso-field-name>Data generator</ilcd:iso-field-name>
                        <ilcd:field-motivation>r</ilcd:field-motivation>
                        <ilcd:field-requirement>r</ilcd:field-requirement>
                    </xs:appinfo>
                    <xs:documentation>"Contact data set" of the person(s), working group(s), organisation(s) or database network, that generated the data set, i.e. being
                        responsible for its correctness regarding methods, inventory, and documentative information.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:anyAttribute namespace="##other" processContents="lax"/>
    </xs:complexType>
    <xs:complexType name="DataSetInformationType" mixed="false">
        <xs:sequence>
            <xs:element ref="common:UUID">
                <xs:annotation>
                    <xs:appinfo>
                        <ilcd:element id="1-1-2-1" name="UUID"/>
                        <ilcd:display-name>UUID des Datensatzes</ilcd:display-name>
                        <ilcd:iso-field-id>3.1</ilcd:iso-field-id>
                        <ilcd:iso-field-name>Identification number</ilcd:iso-field-name>
                        <ilcd:field-motivation>t</ilcd:field-motivation>
                        <ilcd:field-requirement>m</ilcd:field-requirement>
                    </xs:appinfo>
                    <xs:documentation>Automatically generated Universally Unique Identifier of this data set. Together with the "Data set version", the UUID uniquely identifies
                        each data set.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="name" type="NameType" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <ilcd:element id="1-1-2-2" name="name"/>
                        <ilcd:display-name>Name</ilcd:display-name>
                        <ilcd:iso-field-id>1.1.1</ilcd:iso-field-id>
                        <ilcd:iso-field-name>Name</ilcd:iso-field-name>
                        <ilcd:field-motivation>t</ilcd:field-motivation>
                        <ilcd:field-requirement>r</ilcd:field-requirement>
                    </xs:appinfo>
                    <xs:documentation>General descriptive and specifying name of the process.</xs:documentation>
                </xs:annotation>
                <xs:unique name="baseNameLangUniqueConstraint">
                    <xs:selector xpath="process:baseName"/>
                    <xs:field xpath="@xml:lang"/>
                </xs:unique>
                <!--<xs:unique name="treatmentStandardsRoutesLangUniqueConstraint">
               <xs:selector xpath="process:treatmentStandardsRoutes"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>-->
                <!--<xs:unique name="mixAndLocationTypesLangUniqueConstraint">
               <xs:selector xpath="process:mixAndLocationTypes"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>-->
                <xs:unique name="functionalUnitFlowPropertiesLangUniqueConstraint">
                    <xs:selector xpath="process:functionalUnitFlowProperties"/>
                    <xs:field xpath="@xml:lang"/>
                </xs:unique>
            </xs:element>
            <!--<xs:element name="identifierOfSubDataSet" type="common:String" minOccurs="0" edoc:id="1-7-32-131"/>-->
            <xs:element ref="common:synonyms" minOccurs="0" maxOccurs="100" edoc:id="1-1-2-6"/>
            <!--<xs:element name="complementingProcesses" type="ComplementingProcessesType" minOccurs="0" edoc:id="1-1-2-8"/>-->
            <xs:element name="classificationInformation" type="common:ClassificationInformationType" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <ilcd:element id="1-1-2-7" name="classificationInformation"/>
                        <ilcd:display-name>Gliederung Produktgruppe</ilcd:display-name>
                        <ilcd:iso-field-id>(1.1.2)</ilcd:iso-field-id>
                        <ilcd:iso-field-name>(Class)</ilcd:iso-field-name>
                        <ilcd:field-motivation>u</ilcd:field-motivation>
                        <ilcd:field-requirement>r</ilcd:field-requirement>
                    </xs:appinfo>
                    <xs:documentation>Hierarchical classification of the good, service, or process. (Note: This entry is NOT required for the identification of a Process. It should
                        nevertheless be avoided to use identical names for Processes in the same category.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="common:generalComment" minOccurs="0" maxOccurs="100">
                <xs:annotation>
                    <xs:appinfo>
                        <ilcd:element id="1-1-2-12" name="generalComment"/>
                        <ilcd:display-name>Allgemeine Anmerkungen zum Datensatz</ilcd:display-name>
                        <ilcd:iso-field-id>2.5</ilcd:iso-field-id>
                        <ilcd:iso-field-name>Data quality statement</ilcd:iso-field-name>
                        <ilcd:field-motivation>r</ilcd:field-motivation>
                        <ilcd:field-requirement>o</ilcd:field-requirement>
                    </xs:appinfo>
                    <xs:documentation>General information about the data set, including e.g. general (internal, not reviewed) quality statements as well as information sources
                        used. (Note: Please also check the more specific fields e.g. on "Intended application", "Advice on data set use" and the fields in the "Modelling and
                        validation" section to avoid overlapping entries.)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="referenceToExternalDocumentation" type="common:GlobalReferenceType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:appinfo>
                        <ilcd:element id="1-1-2-13" name="referenceToExternalDocumentation"/>
                        <ilcd:display-name>Weitere Dokumentationen des Datensatzes</ilcd:display-name>
                        <ilcd:iso-field-id>0</ilcd:iso-field-id>
                        <ilcd:iso-field-name/>
                        <ilcd:field-motivation>r</ilcd:field-motivation>
                        <ilcd:field-requirement>o</ilcd:field-requirement>
                    </xs:appinfo>
                    <xs:documentation>"Source data set(s)" of detailed LCA study on the process or product represented by this data set, as well as documents / files with
                        overarching documentative information on technology, geographical and / or time aspects etc. (e.g. basic engineering studies, process simulation results,
                        patents, plant documentation, model behind the parameterisation of the "Mathematical model" section, etc.) (Note: can indirectly reference to digital
                        file.)</xs:documentation>
                </xs:annotation>
                <xs:unique name="referenceToExternalDocumentationShortDescriptionLangUniqueConstraint">
                    <xs:selector xpath="common:shortDescription"/>
                    <xs:field xpath="@xml:lang"/>
                </xs:unique>
            </xs:element>
            <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:anyAttribute namespace="##other" processContents="lax"/>
    </xs:complexType>
    <xs:complexType name="DataSourcesTreatmentAndRepresentativenessType" mixed="false">
        <xs:sequence>
            <!--<xs:element name="dataCutOffAndCompletenessPrinciples" type="common:FTMultiLang" minOccurs="0" maxOccurs="100" edoc:id="1-3-16-48"/>
      <xs:element name="deviationsFromCutOffAndCompletenessPrinciples" type="common:FTMultiLang" minOccurs="0" maxOccurs="100" edoc:id="1-3-16-49"/>
      <xs:element name="dataSelectionAndCombinationPrinciples" type="common:FTMultiLang" minOccurs="0" maxOccurs="100" edoc:id="1-3-16-50"/>
      <xs:element name="deviationsFromSelectionAndCombinationPrinciples" type="common:FTMultiLang" minOccurs="0" maxOccurs="100" edoc:id="1-3-16-51"/>
      <xs:element name="dataTreatmentAndExtrapolationsPrinciples" type="common:FTMultiLang" minOccurs="0" maxOccurs="100" edoc:id="1-3-16-52"/>
      <xs:element name="deviationsFromTreatmentAndExtrapolationPrinciples" type="common:FTMultiLang" minOccurs="0" maxOccurs="100" edoc:id="1-3-16-53"/>
      <xs:element name="referenceToDataHandlingPrinciples" type="common:GlobalReferenceType" minOccurs="0" maxOccurs="unbounded" edoc:id="1-3-16-54">
        <xs:unique name="referenceToDataHandlingPrinciplesShortDescriptionLangUniqueConstraint">
          <xs:selector xpath="common:shortDescription"/>
          <xs:field xpath="@xml:lang"/>
        </xs:unique>
      </xs:element>-->
            <xs:element name="referenceToDataSource" type="common:GlobalReferenceType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:appinfo>
                        <ilcd:element id="1-3-16-55" name="referenceToDataSource"/>
                        <ilcd:display-name>Datenquellen</ilcd:display-name>
                        <ilcd:iso-field-id>1.2.14.4</ilcd:iso-field-id>
                        <ilcd:iso-field-name>Reference to data source</ilcd:iso-field-name>
                        <ilcd:field-motivation>q</ilcd:field-motivation>
                        <ilcd:field-requirement>r</ilcd:field-requirement>
                    </xs:appinfo>
                    <xs:documentation>"Source data set"(s) of the source(s) used for deriving/compiling the inventory of this data set e.g. questionnaires, monographies, plant
                        operation protocols, etc. For LCI results and Partly terminated systems the sources for relevant background system data are to be given, too. For
                        parameterised data sets the sources used for the parameterisation / mathematical relations in the section "Mathematical model" are referenced here as well.
                        [Note: If the data set stems from another database or data set publication and is only re-published: identify the origin of a converted data set in
                        "Converted original data set from:" field in section "Data entry by" and its unchanged re-publication in "Unchanged re-publication of:" in the section
                        "Publication and ownership". The data sources used to model a converted or re-published data set are nevertheless to be given here in this field, for
                        transparency reasons.]</xs:documentation>
                </xs:annotation>
                <xs:unique name="referenceToDataSourceShortDescriptionLangUniqueConstraint">
                    <xs:selector xpath="common:shortDescription"/>
                    <xs:field xpath="@xml:lang"/>
                </xs:unique>
            </xs:element>
            <!--<xs:element name="percentageSupplyOrProductionCovered" type="common:Perc" minOccurs="0" edoc:id="1-3-16-57"/>
      <xs:element name="annualSupplyOrProductionVolume" type="common:StringMultiLang" minOccurs="0" maxOccurs="100" edoc:id="1-3-16-58"/>
      <xs:element name="samplingProcedure" type="common:FTMultiLang" minOccurs="0" maxOccurs="100" edoc:id="1-3-16-59"/>
      <xs:element name="dataCollectionPeriod" type="common:StringMultiLang" minOccurs="0" maxOccurs="100" edoc:id="1-3-16-60"/>
      <xs:element name="uncertaintyAdjustments" type="common:FTMultiLang" minOccurs="0" maxOccurs="100" edoc:id="1-3-16-61"/>-->
            <xs:element name="useAdviceForDataSet" type="common:FTMultiLang" minOccurs="0" maxOccurs="100">
                <xs:annotation>
                    <xs:appinfo>
                        <ilcd:element id="1-3-16-62" name="useAdviceForDataSet"/>
                        <ilcd:display-name>Anwendungshinweis für Datensatz</ilcd:display-name>
                        <ilcd:iso-field-id>0</ilcd:iso-field-id>
                        <ilcd:iso-field-name/>
                        <ilcd:field-motivation>u</ilcd:field-motivation>
                        <ilcd:field-requirement>r</ilcd:field-requirement>
                    </xs:appinfo>
                    <xs:documentation>Specific methodological advice for data set users that requires attention. E.g. on inclusion/exclusion of recycling e.g. in material data
                        sets, specific use phase behavior to be modelled, and other methodological advices. See also field "Technological applicability".</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:anyAttribute namespace="##other" processContents="lax"/>
    </xs:complexType>
    <xs:complexType name="ExchangesType" mixed="false">
        <xs:sequence>
            <xs:element name="exchange" type="ExchangeType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:appinfo>
                        <ilcd:element id="1-7-32" name="exchange"/>
                        <ilcd:display-name>Inputs and Outputs</ilcd:display-name>
                        <ilcd:iso-field-id>1.2</ilcd:iso-field-id>
                        <ilcd:iso-field-name>Inputs and Outputs</ilcd:iso-field-name>
                        <ilcd:field-motivation>t</ilcd:field-motivation>
                        <ilcd:field-requirement>r</ilcd:field-requirement>
                    </xs:appinfo>
                    <xs:documentation>Input/Output list of exchanges with the quantitative inventory data as well as pre-calculated LCIA results.</xs:documentation>
                </xs:annotation>
                <xs:unique name="flowGeneralCommentLangUniqueConstraint2">
                    <xs:selector xpath="process:generalComment"/>
                    <xs:field xpath="@xml:lang"/>
                </xs:unique>
            </xs:element>
            <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:anyAttribute namespace="##other" processContents="lax"/>
    </xs:complexType>
    <xs:complexType name="ExchangeType" mixed="false">
        <xs:sequence>
            <xs:element name="referenceToFlowDataSet" type="common:GlobalReferenceType">
                <xs:annotation>
                    <xs:appinfo>
                        <ilcd:element id="1-7-32-119" name="referenceToFlowDataSet"/>
                        <ilcd:display-name>Fluss</ilcd:display-name>
                        <ilcd:iso-field-id>1.2.1</ilcd:iso-field-id>
                        <ilcd:iso-field-name>Identification number</ilcd:iso-field-name>
                        <ilcd:field-motivation>t</ilcd:field-motivation>
                        <ilcd:field-requirement>r</ilcd:field-requirement>
                    </xs:appinfo>
                    <xs:documentation>"Flow data set" of this Input or Output.</xs:documentation>
                </xs:annotation>
                <xs:unique name="referenceToFlowDataSetShortDescriptionLangUniqueConstraint2">
                    <xs:selector xpath="common:shortDescription"/>
                    <xs:field xpath="@xml:lang"/>
                </xs:unique>
            </xs:element>
            <xs:element name="location" type="common:String" minOccurs="0" edoc:id="1-7-32-121"/>
            <xs:element name="functionType" type="common:ExchangeFunctionTypeValues" minOccurs="0" edoc:id="1-7-32-122"/>
            <xs:element name="exchangeDirection" type="common:ExchangeDirectionValues" minOccurs="0" edoc:id="1-7-32-123"/>
            <xs:element name="referenceToVariable" type="xs:string" minOccurs="0" edoc:id="1-7-32-124"/>
            <xs:element name="meanAmount" type="common:Real" minOccurs="0" edoc:id="1-7-32-125"/>
            <xs:element name="resultingAmount" type="common:Real" edoc:id="1-7-32-126" minOccurs="0"/>
            <xs:element name="minimumAmount" type="common:Real" minOccurs="0" edoc:id="1-7-32-127"/>
            <xs:element name="maximumAmount" type="common:Real" minOccurs="0" edoc:id="1-7-32-128"/>
            <xs:element name="uncertaintyDistributionType" type="common:UncertaintyDistributionTypeValues" minOccurs="0" edoc:id="1-7-32-129"/>
            <xs:element name="relativeStandardDeviation95In" type="common:Perc" minOccurs="0" edoc:id="1-7-32-130"/>
            <xs:element name="allocations" type="AllocationsType" minOccurs="0" edoc:id="1-7-32-200"/>
            <xs:element name="dataSourceType" type="common:DataSourceTypeValues" minOccurs="0" edoc:id="1-7-32-132"/>
            <xs:element name="dataDerivationTypeStatus" type="common:DataDerivationTypeStatusValues" minOccurs="0" edoc:id="1-7-32-133"/>
            <xs:element name="referencesToDataSource" type="ReferencesToDataSourceType" minOccurs="0" edoc:id="1-7-32-134"/>
            <xs:element name="generalComment" type="common:StringMultiLang" minOccurs="0" maxOccurs="100" edoc:id="1-7-32-136"/>
            <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="dataSetInternalID" type="common:Int6" use="required">
            <xs:annotation>
                <xs:appinfo>
                    <ilcd:element id="1-7-32-120" name="dataSetInternalID"/>
                    <ilcd:display-name>Data set internal ID</ilcd:display-name>
                    <ilcd:iso-field-id>0</ilcd:iso-field-id>
                    <ilcd:iso-field-name/>
                    <ilcd:field-motivation>t</ilcd:field-motivation>
                    <ilcd:field-requirement>r</ilcd:field-requirement>
                </xs:appinfo>
                <xs:documentation>Automated entry: internal ID, used in the "Quantitative reference" section to identify the "Reference flow(s)" in case the quantitative reference
                    of this Process data set is of this type.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:anyAttribute namespace="##other" processContents="lax"/>
    </xs:complexType>
    <xs:complexType name="GeographyType" mixed="false">
        <xs:sequence>
            <xs:element name="locationOfOperationSupplyOrProduction" type="LocationOfOperationSupplyOrProductionType" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <ilcd:element id="1-1-8-21" name="locationOfOperationSupplyOrProduction"/>
                        <ilcd:display-name>Geographische Repräsentativität</ilcd:display-name>
                        <ilcd:iso-field-id>1.1.8.1</ilcd:iso-field-id>
                        <ilcd:iso-field-name>Area name</ilcd:iso-field-name>
                        <ilcd:field-motivation>t</ilcd:field-motivation>
                        <ilcd:field-requirement>r</ilcd:field-requirement>
                    </xs:appinfo>
                    <xs:documentation>Location, country or region the data set represents. [Note 1: This field does not refer to e.g. the country in which a specific site is
                        located that is represented by this data set but to the actually represented country, region, or site. Note 2: Entry can be of type "two-letter ISO 3166
                        country code" for countries, "seven-letter regional codes" for regions or continents, or "market areas and market organisations", as predefined for the
                        ILCD. Also a name for e.g. a specific plant etc. can be given here (e.g. "FR, Lyon, XY Company, Z Site"; user defined). Note 3: The fact whether the entry
                        refers to production or to consumption / supply has to be stated in the name-field "Mix and location types" e.g. as "Production mix".]</xs:documentation>
                </xs:annotation>
                <xs:unique name="locationDescriptionOfRestrictionsLangUniqueConstraint">
                    <xs:selector xpath="process:descriptionOfRestrictions"/>
                    <xs:field xpath="@xml:lang"/>
                </xs:unique>
            </xs:element>
            <!--<xs:element name="subLocationOfOperationSupplyOrProduction" type="SubLocationOfOperationSupplyOrProductionType" minOccurs="0" maxOccurs="unbounded" edoc:id="1-1-8-22">
        <xs:unique name="subLocationDescriptionOfRestrictionsLangUniqueConstraint">
          <xs:selector xpath="process:descriptionOfRestrictions"/>
          <xs:field xpath="@xml:lang"/>
        </xs:unique>
      </xs:element>-->
            <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:anyAttribute namespace="##other" processContents="lax"/>
    </xs:complexType>
    <xs:complexType name="LCIAResultsType" mixed="false">
        <xs:sequence>
            <xs:element name="LCIAResult" type="LCIAResultType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:appinfo>
                        <ilcd:element id="1-8-1" name="lciaResult"/>
                        <ilcd:display-name>LCIA result</ilcd:display-name>
                        <ilcd:iso-field-id>1.2</ilcd:iso-field-id>
                        <ilcd:iso-field-name>LCIA results</ilcd:iso-field-name>
                        <ilcd:field-motivation>t</ilcd:field-motivation>
                        <ilcd:field-requirement>o</ilcd:field-requirement>
                    </xs:appinfo>
                    <xs:documentation>Single LCIA result</xs:documentation>
                </xs:annotation>
                <xs:unique name="LCIAResultGeneralCommentLangUniqueConstraint">
                    <xs:selector xpath="process:generalComment"/>
                    <xs:field xpath="@xml:lang"/>
                </xs:unique>
            </xs:element>
            <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:anyAttribute namespace="##other" processContents="lax"/>
    </xs:complexType>
    <xs:complexType name="LCIAResultType" mixed="false">
        <xs:sequence>
            <xs:element name="referenceToLCIAMethodDataSet" type="common:GlobalReferenceType">
                <xs:annotation>
                    <xs:appinfo>
                        <ilcd:element id="1-8-1-100" name="referenceToLciaDataSet"/>
                        <ilcd:display-name>LCIA method</ilcd:display-name>
                        <ilcd:iso-field-id>1.2</ilcd:iso-field-id>
                        <ilcd:iso-field-name>Reference to LCIA DataSet</ilcd:iso-field-name>
                        <ilcd:field-motivation>t</ilcd:field-motivation>
                        <ilcd:field-requirement>o</ilcd:field-requirement>
                    </xs:appinfo>
                    <xs:documentation>"LCIA method data set" applied to calculate the LCIA results.</xs:documentation>
                </xs:annotation>
                <xs:unique name="referenceToLCIAMethodDataSetShortDescriptionLangUniqueConstraint">
                    <xs:selector xpath="common:shortDescription"/>
                    <xs:field xpath="@xml:lang"/>
                </xs:unique>
            </xs:element>
            <xs:element name="meanAmount" type="common:Real" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <ilcd:element id="1-8-1-101" name="meanAmount"/>
                        <ilcd:display-name>Mean amount</ilcd:display-name>
                        <ilcd:iso-field-id>1.2</ilcd:iso-field-id>
                        <ilcd:iso-field-name>Mean amount</ilcd:iso-field-name>
                        <ilcd:field-motivation>t</ilcd:field-motivation>
                        <ilcd:field-requirement>o</ilcd:field-requirement>
                    </xs:appinfo>
                    <xs:documentation>Mean amount of the LCIA result of the inventory, calculated for this LCIA method. Only significant digits should be stated.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="uncertaintyDistributionType" type="common:UncertaintyDistributionTypeValues" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <ilcd:element id="1-8-1-102" name="uncertaintyDistributionType"/>
                        <ilcd:display-name>Uncertainty distribution type</ilcd:display-name>
                        <ilcd:iso-field-id>1.2</ilcd:iso-field-id>
                        <ilcd:iso-field-name>Uncertainty distribution type</ilcd:iso-field-name>
                        <ilcd:field-motivation>t</ilcd:field-motivation>
                        <ilcd:field-requirement>o</ilcd:field-requirement>
                    </xs:appinfo>
                    <xs:documentation>Defines the kind of uncertainty distribution that is valid for this LCIA result.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="relativeStandardDeviation95In" type="common:Perc" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <ilcd:element id="1-8-1-103" name="relativeStandardDeviation95In"/>
                        <ilcd:display-name>Relative StdDev in %</ilcd:display-name>
                        <ilcd:iso-field-id>1.2</ilcd:iso-field-id>
                        <ilcd:iso-field-name>Relative StdDev in %</ilcd:iso-field-name>
                        <ilcd:field-motivation>t</ilcd:field-motivation>
                        <ilcd:field-requirement>o</ilcd:field-requirement>
                    </xs:appinfo>
                    <xs:documentation>The resulting overall uncertainty of the calculated variable value considering uncertainty of measurements, modelling, appropriateness etc.
                        [Notes: For log-normal distribution the square of the geometric standard deviation (SDg^2) is stated. Mean value times SDg^2 equals the 97.5% value (=
                        Maximum value), Mean value divided by SDg^2 equals the 2.5% value (= Minimum value). For normal distribution the doubled standard deviation value (2*SD) is
                        entered. Mean value plus 2*SD equals 97.5% value (= Maximum value), Mean value minus 2*SD equals 2.5% value (= Minimum value). This data field remains empty
                        when uniform or triangular uncertainty distribution is applied.]</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="generalComment" type="common:StringMultiLang" minOccurs="0" maxOccurs="100">
                <xs:annotation>
                    <xs:appinfo>
                        <ilcd:element id="1-8-1-104" name="generalComment"/>
                        <ilcd:display-name>Comment</ilcd:display-name>
                        <ilcd:iso-field-id>1.2</ilcd:iso-field-id>
                        <ilcd:iso-field-name>Comment</ilcd:iso-field-name>
                        <ilcd:field-motivation>t</ilcd:field-motivation>
                        <ilcd:field-requirement>o</ilcd:field-requirement>
                    </xs:appinfo>
                    <xs:documentation>General comment on this specific LCIA result, e.g. commenting on the correspondence of the inputs and outputs with the applied LCIA method
                        etc.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:anyAttribute namespace="##other" processContents="lax"/>
    </xs:complexType>
    <xs:complexType name="LCIMethodAndAllocationType" mixed="false">
        <xs:sequence>
            <xs:element name="typeOfDataSet" type="xs:string" fixed="EPD">
                <xs:annotation>
                    <xs:appinfo>
                        <ilcd:element id="1-3-14-40" name="typeOfDataSet"/>
                        <ilcd:display-name>Art des Datensatzes</ilcd:display-name>
                        <ilcd:iso-field-id>1.1.4</ilcd:iso-field-id>
                        <ilcd:iso-field-name>Technical scope</ilcd:iso-field-name>
                        <ilcd:field-motivation>r</ilcd:field-motivation>
                        <ilcd:field-requirement>r</ilcd:field-requirement>
                    </xs:appinfo>
                    <xs:documentation>Type of the data set regarding systematic inclusion/exclusion of upstream or downstream processes, transparency and internal (hidden)
                        multi-functionality, and the completeness of modelling.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <!--<xs:element name="LCIMethodPrinciple" type="common:LCIMethodPrincipleValues" minOccurs="0" edoc:id="1-3-14-41"/>
      <xs:element name="deviationsFromLCIMethodPrinciple" type="common:FTMultiLang" minOccurs="0" maxOccurs="100" edoc:id="1-3-14-42"/>
      <xs:element name="LCIMethodApproaches" type="common:LCIMethodApproachesValues" minOccurs="0" maxOccurs="unbounded" edoc:id="1-3-14-43"/>
      <xs:element name="deviationsFromLCIMethodApproaches" type="common:FTMultiLang" minOccurs="0" maxOccurs="100" edoc:id="1-3-14-44"/>
      <xs:element name="modellingConstants" type="common:FTMultiLang" minOccurs="0" maxOccurs="100" edoc:id="1-3-14-45"/>
      <xs:element name="deviationsFromModellingConstants" type="common:FTMultiLang" minOccurs="0" maxOccurs="100" edoc:id="1-3-14-46"/>-->
      <xs:element name="referenceToLCAMethodDetails" type="common:GlobalReferenceType" minOccurs="0" maxOccurs="unbounded" edoc:id="1-3-14-47">
        <xs:unique name="referenceToLCAMethodDetailsShortDescriptionLangUniqueConstraint">
          <xs:selector xpath="common:shortDescription"/>
          <xs:field xpath="@xml:lang"/>
        </xs:unique>
      </xs:element>
<xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:anyAttribute namespace="##other" processContents="lax"/>
    </xs:complexType>
    <xs:complexType name="LocationOfOperationSupplyOrProductionType" mixed="false">
        <xs:sequence>
            <xs:element name="descriptionOfRestrictions" type="common:FTMultiLang" minOccurs="0" maxOccurs="100">
                <xs:annotation>
                    <xs:appinfo>
                        <ilcd:element id="1-1-8-24" name="descriptionOfRestrictions"/>
                        <ilcd:display-name>Geographical representativeness description</ilcd:display-name>
                        <ilcd:iso-field-id>1.1.8.2</ilcd:iso-field-id>
                        <ilcd:iso-field-name>Area description</ilcd:iso-field-name>
                        <ilcd:field-motivation>r</ilcd:field-motivation>
                        <ilcd:field-requirement>o</ilcd:field-requirement>
                    </xs:appinfo>
                    <xs:documentation>Further explanations about additional aspects of the location: e.g. a company and/or site description and address, whether for certain
                        sub-areas within the "Location" the data set is not valid, whether data is only valid for certain regions within the location indicated, or whether certain
                        elementary flows or intermediate product flows are extrapolated from another geographical area.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="location" type="common:NullableString">
            <xs:annotation>
                <xs:appinfo>
                    <ilcd:element id="1-1-8-21" name="locationOfOperationSupplyOrProduction"/>
                    <ilcd:display-name>Geographische Repräsentativität</ilcd:display-name>
                    <ilcd:iso-field-id>1.1.8.1</ilcd:iso-field-id>
                    <ilcd:iso-field-name>Area name</ilcd:iso-field-name>
                    <ilcd:field-motivation>t</ilcd:field-motivation>
                    <ilcd:field-requirement>r</ilcd:field-requirement>
                </xs:appinfo>
                <xs:documentation>Location, country or region the data set represents. [Note 1: This field does not refer to e.g. the country in which a specific site is located
                    that is represented by this data set but to the actually represented country, region, or site. Note 2: Entry can be of type "two-letter ISO 3166 country code"
                    for countries, "seven-letter regional codes" for regions or continents, or "market areas and market organisations", as predefined for the ILCD. Also a name for
                    e.g. a specific plant etc. can be given here (e.g. "FR, Lyon, XY Company, Z Site"; user defined). Note 3: The fact whether the entry refers to production or to
                    consumption / supply has to be stated in the name-field "Mix and location types" e.g. as "Production mix".]</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="latitudeAndLongitude" type="common:GIS" use="optional">
            <xs:annotation>
                <xs:appinfo>
                    <ilcd:element id="1-1-8-23" name="latitudeAndLongitude"/>
                    <ilcd:display-name>Latitude and Longitude</ilcd:display-name>
                    <ilcd:iso-field-id>1.1.8.4</ilcd:iso-field-id>
                    <ilcd:iso-field-name>GIS reference</ilcd:iso-field-name>
                    <ilcd:field-motivation>r</ilcd:field-motivation>
                    <ilcd:field-requirement>o</ilcd:field-requirement>
                </xs:appinfo>
                <xs:documentation>Geographical latitude and longitude reference of "Location" / "Sub-location". For area-type locations (e.g. countries, continents) the field is
                    empty.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:anyAttribute namespace="##other" processContents="lax"/>
    </xs:complexType>
    <!--<xs:complexType name="MathematicalRelationsType" mixed="false">
    <xs:sequence>
      <xs:element name="modelDescription" type="common:FTMultiLang" minOccurs="0" maxOccurs="100" edoc:id="1-1-12-31"/>
      <xs:element name="variableParameter" type="VariableParameterType" minOccurs="0" maxOccurs="unbounded" edoc:id="1-1-12-33">
        <xs:unique name="variableParameterCommentLangUniqueConstraint">
          <xs:selector xpath="process:comment"/>
          <xs:field xpath="@xml:lang"/>
        </xs:unique>
      </xs:element>
      <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:anyAttribute namespace="##other" processContents="lax"/>
  </xs:complexType>-->
    <xs:complexType name="ModellingAndValidationType" mixed="false">
        <xs:sequence>
            <xs:element name="LCIMethodAndAllocation" type="LCIMethodAndAllocationType" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <ilcd:element id="1-3-14" name="LCIMethodAndAllocation"/>
                        <ilcd:display-name>Angewandte Methode und Allokation</ilcd:display-name>
                        <ilcd:iso-field-id>parts of 2.3 and 2.4</ilcd:iso-field-id>
                        <ilcd:iso-field-name>parts of: Modelling principles, Modelling choices</ilcd:iso-field-name>
                        <ilcd:field-motivation>r</ilcd:field-motivation>
                        <ilcd:field-requirement>r</ilcd:field-requirement>
                    </xs:appinfo>
                    <xs:documentation>LCI methodological modelling aspects including allocation / substitution information.</xs:documentation>
                </xs:annotation>
                <!--<xs:unique name="deviationsFromLCIMethodPrincipleLangUniqueConstraint">
          <xs:selector xpath="process:deviationsFromLCIMethodPrinciple"/>
          <xs:field xpath="@xml:lang"/>
        </xs:unique>
        <xs:unique name="deviationsFromLCIMethodApproachesLangUniqueConstraint">
          <xs:selector xpath="process:deviationsFromLCIMethodApproaches"/>
          <xs:field xpath="@xml:lang"/>
        </xs:unique>
        <xs:unique name="modellingConstantsLangUniqueConstraint">
          <xs:selector xpath="process:modellingConstants"/>
          <xs:field xpath="@xml:lang"/>
        </xs:unique>
        <xs:unique name="deviationsFromModellingConstantsLangUniqueConstraint">
          <xs:selector xpath="process:deviationsFromModellingConstants"/>
          <xs:field xpath="@xml:lang"/>
        </xs:unique>-->
            </xs:element>
            <xs:element name="dataSourcesTreatmentAndRepresentativeness" type="DataSourcesTreatmentAndRepresentativenessType" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <ilcd:element id="1-3-16" name="dataSourcesTreatmentAndRepresentativeness"/>
                        <ilcd:display-name>Datenquellen und Repräsentativität</ilcd:display-name>
                        <ilcd:iso-field-id>parts of 2.3 and 2.4</ilcd:iso-field-id>
                        <ilcd:iso-field-name>parts of: Modelling principles, Modelling choices</ilcd:iso-field-name>
                        <ilcd:field-motivation>q</ilcd:field-motivation>
                        <ilcd:field-requirement>r</ilcd:field-requirement>
                    </xs:appinfo>
                    <xs:documentation>Data selection, completeness, and treatment principles and procedures, data sources and market coverage information.</xs:documentation>
                </xs:annotation>
                <!--<xs:unique name="dataCutOffAndCompletenessPrinciplesLangUniqueConstraint">
          <xs:selector xpath="process:dataCutOffAndCompletenessPrinciples"/>
          <xs:field xpath="@xml:lang"/>
        </xs:unique>
        <xs:unique name="deviationsFromCutOffAndCompletenessPrinciplesLangUniqueConstraint">
          <xs:selector xpath="process:deviationsFromCutOffAndCompletenessPrinciples"/>
          <xs:field xpath="@xml:lang"/>
        </xs:unique>
        <xs:unique name="dataSelectionAndCombinationPrinciplesLangUniqueConstraint">
          <xs:selector xpath="process:dataSelectionAndCombinationPrinciples"/>
          <xs:field xpath="@xml:lang"/>
        </xs:unique>
        <xs:unique name="deviationsFromSelectionAndCombinationPrinciplesLangUniqueConstraint">
          <xs:selector xpath="process:deviationsFromSelectionAndCombinationPrinciples"/>
          <xs:field xpath="@xml:lang"/>
        </xs:unique>
        <xs:unique name="dataTreatmentAndExtrapolationsPrinciplesLangUniqueConstraint">
          <xs:selector xpath="process:dataTreatmentAndExtrapolationsPrinciples"/>
          <xs:field xpath="@xml:lang"/>
        </xs:unique>
        <xs:unique name="deviationsFromTreatmentAndExtrapolationPrinciplesLangUniqueConstraint">
          <xs:selector xpath="process:deviationsFromTreatmentAndExtrapolationPrinciples"/>
          <xs:field xpath="@xml:lang"/>
        </xs:unique>
        <xs:unique name="annualSupplyOrProductionVolumeLangUniqueConstraint">
          <xs:selector xpath="process:annualSupplyOrProductionVolume"/>
          <xs:field xpath="@xml:lang"/>
        </xs:unique>
        <xs:unique name="samplingProcedureLangUniqueConstraint">
          <xs:selector xpath="process:samplingProcedure"/>
          <xs:field xpath="@xml:lang"/>
        </xs:unique>
        <xs:unique name="dataCollectionPeriodLangUniqueConstraint">
          <xs:selector xpath="process:dataCollectionPeriod"/>
          <xs:field xpath="@xml:lang"/>
        </xs:unique>
        <xs:unique name="uncertaintyAdjustmentsLangUniqueConstraint">
          <xs:selector xpath="process:uncertaintyAdjustments"/>
          <xs:field xpath="@xml:lang"/>
        </xs:unique>
        <xs:unique name="useAdviceForDataSetLangUniqueConstraint">
          <xs:selector xpath="process:useAdviceForDataSet"/>
          <xs:field xpath="@xml:lang"/>
        </xs:unique>-->
            </xs:element>
            <!--<xs:element name="completeness" type="CompletenessType" minOccurs="0" edoc:id="1-3-18">
        <xs:unique name="CompletenessElementaryFlowsUniqueConstraint">
          <xs:selector xpath="process:completenessElementaryFlows"/>
          <xs:field xpath="@type"/>
        </xs:unique>
        <xs:unique name="completenessOtherProblemFieldLangUniqueConstraint">
          <xs:selector xpath="process:completenessOtherProblemField"/>
          <xs:field xpath="@xml:lang"/>
        </xs:unique>
      </xs:element>-->
            <xs:element name="validation" type="ValidationType" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <ilcd:element id="1-3-20" name="validation"/>
                        <ilcd:display-name>Validierung</ilcd:display-name>
                        <ilcd:iso-field-id>2.6</ilcd:iso-field-id>
                        <ilcd:iso-field-name>Validation</ilcd:iso-field-name>
                        <ilcd:field-motivation>q</ilcd:field-motivation>
                        <ilcd:field-requirement>r</ilcd:field-requirement>
                    </xs:appinfo>
                    <xs:documentation>Review / validation information on data set.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="complianceDeclarations" type="ComplianceDeclarationsType" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <ilcd:element id="1-3-22" name="complianceDeclarations"/>
                        <ilcd:display-name>Konformitätsdeklarationen</ilcd:display-name>
                        <ilcd:iso-field-id>0</ilcd:iso-field-id>
                        <ilcd:iso-field-name/>
                        <ilcd:field-requirement>r</ilcd:field-requirement>
                    </xs:appinfo>
                    <xs:documentation>Statements on compliance of several data set aspects with compliance requirements as defined by the referenced compliance system (e.g. an EPD
                        scheme, handbook of a national or international data network such as the ILCD, etc.).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:anyAttribute namespace="##other" processContents="lax"/>
    </xs:complexType>
    <xs:complexType name="NameType">
        <xs:sequence>
            <xs:element name="baseName" type="common:StringMultiLang" maxOccurs="100">
                <xs:annotation>
                    <xs:appinfo>
                        <ilcd:element id="1-1-2-2-1" name="baseName"/>
                        <ilcd:display-name>Name</ilcd:display-name>
                        <ilcd:iso-field-id>1.1.1</ilcd:iso-field-id>
                        <ilcd:iso-field-name>Name</ilcd:iso-field-name>
                        <ilcd:field-motivation>t</ilcd:field-motivation>
                        <ilcd:field-requirement>r</ilcd:field-requirement>
                    </xs:appinfo>
                    <xs:documentation>General descriptive name of the process and/or its main good(s) or service(s) and/or it's level of processing.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <!--<xs:element name="treatmentStandardsRoutes" type="common:StringMultiLang" minOccurs="0" maxOccurs="100" edoc:id="1-1-2-3"/>-->
            <!--<xs:element name="mixAndLocationTypes" type="common:StringMultiLang" minOccurs="0" maxOccurs="100" edoc:id="1-1-2-4"/>-->
            <xs:element name="functionalUnitFlowProperties" type="common:StringMultiLang" minOccurs="0" maxOccurs="100">
                <xs:annotation>
                    <xs:appinfo>
                        <ilcd:element id="1-1-2-5" name="functionalUnitFlowProperties"/>
                        <ilcd:display-name>Technische Kennwerte/ Eigenschaften</ilcd:display-name>
                        <ilcd:iso-field-id>0</ilcd:iso-field-id>
                        <ilcd:iso-field-name/>
                        <ilcd:field-motivation>t</ilcd:field-motivation>
                        <ilcd:field-requirement>r</ilcd:field-requirement>
                    </xs:appinfo>
                    <xs:documentation>Further, quantitative specifying information on the good, service or process in technical term(s): qualifying constituent(s)-content and / or
                        energy-content per unit etc. as appropriate. Separated by commata. (Note: non-qualifying flow properties, CAS No, Synonyms, Chemical formulas etc. are
                        documented exclusively in the "Flow data set".)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:anyAttribute namespace="##other" processContents="lax"/>
    </xs:complexType>
    <xs:complexType name="ProcessDataSetType" mixed="false">
        <xs:sequence>
            <xs:element name="processInformation" type="ProcessInformationType">
                <xs:annotation>
                    <xs:appinfo>
                        <ilcd:element id="1-1" name="processInformation"/>
                        <ilcd:display-name>Datensatzinformation</ilcd:display-name>
                        <ilcd:iso-field-id>1.1</ilcd:iso-field-id>
                        <ilcd:iso-field-name>Process information</ilcd:iso-field-name>
                        <ilcd:field-motivation>t</ilcd:field-motivation>
                        <ilcd:field-requirement>m</ilcd:field-requirement>
                    </xs:appinfo>
                    <xs:documentation>Corresponds to the ISO/TS 14048 section "Process description". It comprises the following six sub-sections: 1) "Data set information" for data
                        set identification and overarching information items, 2) "Quantitative reference", 3) "Time", 4) "Geography", 5) "Technology" and 6) "Mathematical
                        relations".</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="modellingAndValidation" type="ModellingAndValidationType" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <ilcd:element id="1-3" name="modellingAndValidation"/>
                        <ilcd:display-name>Modellierung und Validierung</ilcd:display-name>
                        <ilcd:iso-field-id>2</ilcd:iso-field-id>
                        <ilcd:iso-field-name>Modelling and validation</ilcd:iso-field-name>
                        <ilcd:field-motivation>r</ilcd:field-motivation>
                        <ilcd:field-requirement>r</ilcd:field-requirement>
                    </xs:appinfo>
                    <xs:documentation>Covers the five sub-sections 1) LCI method and allocation, 2) Data sources, treatment and representativeness, 3) Completeness, 4) Validation,
                        and 5) Compliance. (Section refers to LCI modelling and data treatment aspects etc., NOT the modeling of e.g. the input/output-relationships of a
                        parameterised data set.)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="administrativeInformation" type="AdministrativeInformationType" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <ilcd:element id="1-5" name="administrativeInformation"/>
                        <ilcd:display-name>Administrative Information</ilcd:display-name>
                        <ilcd:iso-field-id>3</ilcd:iso-field-id>
                        <ilcd:iso-field-name>Administrative information</ilcd:iso-field-name>
                        <ilcd:field-requirement>r</ilcd:field-requirement>
                    </xs:appinfo>
                    <xs:documentation>Information on data set management and administration.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="exchanges" type="ExchangesType" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <ilcd:element id="1-7" name="exchanges"/>
                        <ilcd:display-name>Indikatoren</ilcd:display-name>
                        <ilcd:iso-field-id>1.2</ilcd:iso-field-id>
                        <ilcd:iso-field-name>Inputs and Outputs</ilcd:iso-field-name>
                        <ilcd:field-motivation>t</ilcd:field-motivation>
                        <ilcd:field-requirement>r</ilcd:field-requirement>
                    </xs:appinfo>
                    <xs:documentation>Input/Output list of exchanges with the quantitative inventory data, as well as pre-calculated LCIA results.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LCIAResults" type="LCIAResultsType" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <ilcd:element id="1-8" name="lciaResults"/>
                        <ilcd:display-name>LCIA results</ilcd:display-name>
                        <ilcd:iso-field-id>1.2</ilcd:iso-field-id>
                        <ilcd:iso-field-name>LCIA results</ilcd:iso-field-name>
                        <ilcd:field-motivation>t</ilcd:field-motivation>
                        <ilcd:field-requirement>o</ilcd:field-requirement>
                    </xs:appinfo>
                    <xs:documentation>List with the pre-calculated LCIA results of the Input/Output list of this data set. May contain also inventory-type results such as primary
                        energy consumption etc.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="version" type="common:SchemaVersion" use="required">
            <xs:annotation>
                <xs:appinfo>
                    <ilcd:element id="1-a" name="version"/>
                    <ilcd:display-name>version</ilcd:display-name>
                    <ilcd:field-requirement>m</ilcd:field-requirement>
                </xs:appinfo>
                <xs:documentation>Indicates, which version of the ILCD format is used</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="locations" type="common:String">
            <xs:annotation>
                <xs:appinfo>
                    <ilcd:element id="1-b" name="location"/>
                    <ilcd:display-name>location</ilcd:display-name>
                    <ilcd:field-requirement>m</ilcd:field-requirement>
                </xs:appinfo>
                <xs:documentation>contains reference to used location table for this dataset</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="metaDataOnly" type="common:boolean" default="false">
            <xs:annotation>
                <xs:appinfo>
                    <ilcd:element id="1-c" name="metaDataOnly"/>
                    <ilcd:display-name>Meta data only</ilcd:display-name>
                    <ilcd:field-requirement>o</ilcd:field-requirement>
                </xs:appinfo>
                <xs:documentation>Indicates whether this data set contains only meta data (no exchanges section).</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:anyAttribute namespace="##other" processContents="lax"/>
    </xs:complexType>
    <xs:complexType name="ProcessInformationType" mixed="false">
        <xs:sequence>
            <xs:element name="dataSetInformation" type="DataSetInformationType">
                <xs:annotation>
                    <xs:appinfo>
                        <ilcd:element id="1-1-2" name="dataSetInformation"/>
                        <ilcd:display-name>Kerninformation des Datensatzes</ilcd:display-name>
                        <ilcd:iso-field-id>0</ilcd:iso-field-id>
                        <ilcd:iso-field-name/>
                    </xs:appinfo>
                    <xs:documentation>General data set information. Section covers all single fields in the ISO/TS 14048 "Process description", which are not part of the other
                        sub-sections. In ISO/TS 14048 no own sub-section is foreseen for these entries.</xs:documentation>
                </xs:annotation>
                <xs:unique name="synonymsLangUniqueConstraint">
                    <xs:selector xpath="common:synonyms"/>
                    <xs:field xpath="@xml:lang"/>
                </xs:unique>
                <xs:unique name="generalCommentLangUniqueConstraint">
                    <xs:selector xpath="common:generalComment"/>
                    <xs:field xpath="@xml:lang"/>
                </xs:unique>
            </xs:element>
            <xs:element name="quantitativeReference" type="QuantitativeReferenceType" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <ilcd:element id="1-1-4" name="quantitativeReference"/>
                        <ilcd:display-name>Quantitative Referenz</ilcd:display-name>
                        <ilcd:iso-field-id>1.1.3</ilcd:iso-field-id>
                        <ilcd:iso-field-name>Quantitative reference</ilcd:iso-field-name>
                        <ilcd:field-requirement>r</ilcd:field-requirement>
                    </xs:appinfo>
                    <xs:documentation>This section names the quantitative reference used for this data set, i.e. the reference to which the inputs and outputs quantiatively
                        relate.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="time" type="common:TimeType" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <ilcd:element id="1-1-6" name="time"/>
                        <ilcd:display-name>Zeitliche Repräsentativität</ilcd:display-name>
                        <ilcd:iso-field-id>1.1.7</ilcd:iso-field-id>
                        <ilcd:iso-field-name>Valid time span</ilcd:iso-field-name>
                        <ilcd:field-requirement>r</ilcd:field-requirement>
                    </xs:appinfo>
                    <xs:documentation>Provides information about the time representativeness of the data set.</xs:documentation>
                </xs:annotation>
                <xs:unique name="timeRepresentativenessDescriptionLangUniqueConstraint">
                    <xs:selector xpath="common:timeRepresentativenessDescription"/>
                    <xs:field xpath="@xml:lang"/>
                </xs:unique>
            </xs:element>
            <xs:element name="geography" type="GeographyType" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <ilcd:element id="1-1-8" name="geography"/>
                        <ilcd:display-name>Geographische Repräsentativität</ilcd:display-name>
                        <ilcd:iso-field-id>1.1.8</ilcd:iso-field-id>
                        <ilcd:iso-field-name>Valid Geography</ilcd:iso-field-name>
                        <ilcd:field-requirement>r</ilcd:field-requirement>
                    </xs:appinfo>
                    <xs:documentation>Provides information about the geographical representativeness of the data set.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="technology" type="TechnologyType" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <ilcd:element id="1-1-10" name="technology"/>
                        <ilcd:display-name>Technische Repräsentativität</ilcd:display-name>
                        <ilcd:iso-field-id>1.1.6</ilcd:iso-field-id>
                        <ilcd:iso-field-name/>
                        <ilcd:field-requirement>r</ilcd:field-requirement>
                    </xs:appinfo>
                    <xs:documentation>Provides information about the technological representativeness of the data set.</xs:documentation>
                </xs:annotation>
                <xs:unique name="technologyDescriptionAndIncludedProcessesLangUniqueConstraint">
                    <xs:selector xpath="process:technologyDescriptionAndIncludedProcesses"/>
                    <xs:field xpath="@xml:lang"/>
                </xs:unique>
                <xs:unique name="technologicalApplicabilityLangUniqueConstraint">
                    <xs:selector xpath="process:technologicalApplicability"/>
                    <xs:field xpath="@xml:lang"/>
                </xs:unique>
            </xs:element>
            <!--<xs:element name="mathematicalRelations" type="MathematicalRelationsType" minOccurs="0" edoc:id="1-1-12">
        <xs:unique name="modelDescriptionLangUniqueConstraint">
          <xs:selector xpath="process:modelDescription"/>
          <xs:field xpath="@xml:lang"/>
        </xs:unique>
      </xs:element>-->
            <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:anyAttribute namespace="##other" processContents="lax"/>
    </xs:complexType>
    <xs:complexType name="PublicationAndOwnershipType">
        <xs:sequence>
            <xs:group ref="common:PublicationAndOwnershipGroup1"/>
            <xs:element ref="common:dateOfLastRevision" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <ilcd:element id="1-5-30-113" name="dateOfLastRevision"/>
                        <ilcd:display-name>Letzte Änderung</ilcd:display-name>
                        <ilcd:iso-field-id>3.3</ilcd:iso-field-id>
                        <ilcd:iso-field-name>Version number</ilcd:iso-field-name>
                        <ilcd:field-motivation>r</ilcd:field-motivation>
                        <ilcd:field-requirement>r</ilcd:field-requirement>
                    </xs:appinfo>
                    <xs:documentation>Date when the data set was revised for the last time, typically manually set.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <!--<xs:group ref="common:PublicationAndOwnershipGroup2"/>-->
            <!--<xs:element ref="common:referenceToRegistrationAuthority" minOccurs="0" edoc:id="1-5-30-200"/>-->
            <!--<xs:element ref="common:registrationNumber" minOccurs="0" edoc:id="1-5-30-201"/>-->
            <xs:element ref="common:referenceToOwnershipOfDataSet" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <ilcd:element id="1-5-30-115" name="referenceToOwnershipOfDataSet"/>
                        <ilcd:display-name>Eigner des Datensatzes</ilcd:display-name>
                        <ilcd:iso-field-id>0</ilcd:iso-field-id>
                        <ilcd:iso-field-name/>
                        <ilcd:field-motivation>r</ilcd:field-motivation>
                        <ilcd:field-requirement>r</ilcd:field-requirement>
                    </xs:appinfo>
                    <xs:documentation>"Contact data set" of the person or entity who owns this data set. (Note: this is not necessarily the publisher of the data
                        set.)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:group ref="common:PublicationAndOwnershipGroup3"/>
            <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:anyAttribute namespace="##other" processContents="lax"/>
    </xs:complexType>
    <xs:complexType name="QuantitativeReferenceType" mixed="false">
        <xs:sequence>
            <xs:element name="referenceToReferenceFlow" type="common:Int6" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <ilcd:element id="1-1-4-16" name="referenceToReferenceFlow"/>
                        <ilcd:display-name>Referenzfluss (Name und Einheit)</ilcd:display-name>
                        <ilcd:iso-field-id>(1.1.3.2)</ilcd:iso-field-id>
                        <ilcd:iso-field-name>(Name)</ilcd:iso-field-name>
                        <ilcd:field-motivation>r</ilcd:field-motivation>
                        <ilcd:field-requirement>r</ilcd:field-requirement>
                    </xs:appinfo>
                    <xs:documentation>One or more of the Inputs or Outputs in case "Type of quantitative reference" is of type "Reference flow(s)". (Data set internal
                        reference.)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="functionalUnitOrOther" type="common:StringMultiLang" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <ilcd:element id="1-1-4-17" name="functionalUnitOrOther"/>
                        <ilcd:display-name>Functional unit, Production period, or Other parameter</ilcd:display-name>
                        <ilcd:iso-field-id>(1.1.3.2)</ilcd:iso-field-id>
                        <ilcd:iso-field-name>(Name)</ilcd:iso-field-name>
                        <ilcd:field-motivation>r</ilcd:field-motivation>
                        <ilcd:field-requirement>r</ilcd:field-requirement>
                    </xs:appinfo>
                    <xs:documentation>Quantity, name, property/quality, and measurement unit of the Functional unit, Production period, or Other parameter, in case "Type of
                        quantitative reference" is of one of these types. [Note: One or more functional units can also be given in addition to a reference flow.]</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="type" type="common:TypeOfQuantitativeReferenceValues">
            <xs:annotation>
                <xs:appinfo>
                    <ilcd:element id="1-1-4-15" name="type"/>
                    <ilcd:display-name>Type of quantitative reference</ilcd:display-name>
                    <ilcd:iso-field-id>1.1.3.1</ilcd:iso-field-id>
                    <ilcd:iso-field-name>Type</ilcd:iso-field-name>
                    <ilcd:field-motivation>r</ilcd:field-motivation>
                    <ilcd:field-requirement>r</ilcd:field-requirement>
                </xs:appinfo>
                <xs:documentation>Type of quantitative reference of this data set.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:anyAttribute namespace="##other" processContents="lax"/>
    </xs:complexType>
    <xs:complexType name="ReferencesToDataSourceType" mixed="false">
        <xs:sequence>
            <xs:element name="referenceToDataSource" type="common:GlobalReferenceType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:appinfo>
                        <ilcd:element id="1-7-32-134" name="referencesToDataSource"/>
                        <ilcd:display-name>Data source(s)</ilcd:display-name>
                        <ilcd:iso-field-id>1.2.14.4</ilcd:iso-field-id>
                        <ilcd:iso-field-name>Reference to data source</ilcd:iso-field-name>
                        <ilcd:field-motivation>q</ilcd:field-motivation>
                        <ilcd:field-requirement>o</ilcd:field-requirement>
                    </xs:appinfo>
                    <xs:documentation>"Source data set" of data source(s) used for the value of this specific Input or Output, especially if differing from the general data source
                        used for this data set.</xs:documentation>
                </xs:annotation>
                <xs:unique name="flowReferenceToDataSourceShortDescriptionLangUniqueConstraint">
                    <xs:selector xpath="common:shortDescription"/>
                    <xs:field xpath="@xml:lang"/>
                </xs:unique>
            </xs:element>
            <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:anyAttribute namespace="##other" processContents="lax"/>
    </xs:complexType>
    <xs:complexType name="ReviewType">
        <xs:sequence>
            <!--<xs:group ref="common:ValidationGroup1"/>-->
            <xs:group ref="common:ValidationGroup3"/>
            <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="type" type="common:TypeOfReviewValues">
            <xs:annotation>
                <xs:appinfo>
                    <ilcd:element id="1-3-20-81" name="type"/>
                    <ilcd:display-name>Art des Reviews</ilcd:display-name>
                    <ilcd:iso-field-id>0</ilcd:iso-field-id>
                    <ilcd:iso-field-name/>
                    <ilcd:field-motivation>q</ilcd:field-motivation>
                    <ilcd:field-requirement>r</ilcd:field-requirement>
                </xs:appinfo>
                <xs:documentation>Type of review that has been performed regarding independency and type of review process.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:anyAttribute namespace="##other" processContents="lax"/>
    </xs:complexType>
    <!--<xs:complexType name="SubLocationOfOperationSupplyOrProductionType" mixed="false">
    <xs:sequence>
      <xs:element name="descriptionOfRestrictions" type="common:FTMultiLang" minOccurs="0" maxOccurs="100" edoc:id="1-1-8-24"/>
      <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="subLocation" type="common:String" use="optional" edoc:id="1-1-8-22"/>
    <xs:attribute name="latitudeAndLongitude" type="common:GIS" use="optional" edoc:id="1-1-8-23"/>
    <xs:anyAttribute namespace="##other" processContents="lax"/>
  </xs:complexType>-->
    <xs:complexType name="TechnologyType" mixed="false">
        <xs:sequence>
            <xs:element name="technologyDescriptionAndIncludedProcesses" type="common:FTMultiLang" minOccurs="0" maxOccurs="100">
                <xs:annotation>
                    <xs:appinfo>
                        <ilcd:element id="1-1-10-25" name="technologyDescriptionAndIncludedProcesses"/>
                        <ilcd:display-name>Technische Beschreibung inklusive der Hintergrundsysteme</ilcd:display-name>
                        <ilcd:iso-field-id>1.1.6.2 and 1.1.6.5</ilcd:iso-field-id>
                        <ilcd:iso-field-name>Technical content and functionality, Operating conditions</ilcd:iso-field-name>
                        <ilcd:field-motivation>q</ilcd:field-motivation>
                        <ilcd:field-requirement>r</ilcd:field-requirement>
                    </xs:appinfo>
                    <xs:documentation>Description of the technological characteristics including operating conditions of the process or product system. For the latter this includes
                        the relevant upstream and downstream processes included in the data set. Professional terminology should be used.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <!--<xs:element name="referenceToIncludedProcesses" type="common:GlobalReferenceType" minOccurs="0" maxOccurs="unbounded" edoc:id="1-1-10-26">
        <xs:unique name="referenceToIncludedProcessesShortDescriptionLangUniqueConstraint">
          <xs:selector xpath="common:shortDescription"/>
          <xs:field xpath="@xml:lang"/>
        </xs:unique>
      </xs:element>-->
            <xs:element name="technologicalApplicability" type="common:FTMultiLang" minOccurs="0" maxOccurs="100">
                <xs:annotation>
                    <xs:appinfo>
                        <ilcd:element id="1-1-10-27" name="technologicalApplicability"/>
                        <ilcd:display-name>Technisches Anwendungsgebiet</ilcd:display-name>
                        <ilcd:iso-field-id>1.1.6 section heading and 2.7</ilcd:iso-field-id>
                        <ilcd:iso-field-name>Technology, Other information</ilcd:iso-field-name>
                        <ilcd:field-motivation>q</ilcd:field-motivation>
                        <ilcd:field-requirement>r</ilcd:field-requirement>
                    </xs:appinfo>
                    <xs:documentation>Description of the intended / possible applications of the good, service, or process. E.g. for which type of products the material,
                        represented by this data set, is used. Examples: "This high purity chemical is used for analytical laboratories only." or "This technical quality bulk
                        chemical is used for large scale synthesis in chemical industry.". Or: "This truck is used only for long-distance transport of liquid bulk
                        chemicals".</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="referenceToTechnologyPictogramme" type="common:GlobalReferenceType" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <ilcd:element id="1-1-10-28" name="referenceToTechnologyPictogramme"/>
                        <ilcd:display-name>Pictogramme of technology</ilcd:display-name>
                        <ilcd:iso-field-id>(1.1.6.3)</ilcd:iso-field-id>
                        <ilcd:iso-field-name>(Technology picture)</ilcd:iso-field-name>
                        <ilcd:field-motivation>r</ilcd:field-motivation>
                        <ilcd:field-requirement>o</ilcd:field-requirement>
                    </xs:appinfo>
                    <xs:documentation>"Source data set" of the pictogramme of the good, service, technogy, plant etc. represented by this data set. For use in graphical user
                        interfaces of LCA software.</xs:documentation>
                </xs:annotation>
                <xs:unique name="referenceToTechnologyPictogrammeShortDescriptionLangUniqueConstraint">
                    <xs:selector xpath="common:shortDescription"/>
                    <xs:field xpath="@xml:lang"/>
                </xs:unique>
            </xs:element>
            <xs:element name="referenceToTechnologyFlowDiagrammOrPicture" type="common:GlobalReferenceType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:appinfo>
                        <ilcd:element id="1-1-10-29" name="referenceToTechnologyFlowDiagrammOrPicture"/>
                        <ilcd:display-name>Flussdiagramme/Abbildungen</ilcd:display-name>
                        <ilcd:iso-field-id>1.1.6.3</ilcd:iso-field-id>
                        <ilcd:iso-field-name>Technology picture</ilcd:iso-field-name>
                        <ilcd:field-motivation>q</ilcd:field-motivation>
                        <ilcd:field-requirement>o</ilcd:field-requirement>
                    </xs:appinfo>
                    <xs:documentation>"Source data set" of the flow diagramm(s) and/or photo(s) of the good, service, technology, plant etc represented by this data set. For
                        clearer illustration and documentation of data set.</xs:documentation>
                </xs:annotation>
                <xs:unique name="referenceToTechnologyFlowDiagrammOrPictureShortDescriptionLangUniqueConstraint">
                    <xs:selector xpath="common:shortDescription"/>
                    <xs:field xpath="@xml:lang"/>
                </xs:unique>
            </xs:element>
            <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:anyAttribute namespace="##other" processContents="lax"/>
    </xs:complexType>
    <xs:complexType name="ValidationType">
        <xs:sequence>
            <xs:element name="review" type="ReviewType" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <ilcd:element id="1-3-21" name="review"/>
                        <ilcd:display-name>Review</ilcd:display-name>
                        <ilcd:iso-field-id>2.6</ilcd:iso-field-id>
                        <ilcd:iso-field-name>Review</ilcd:iso-field-name>
                        <ilcd:field-motivation>q</ilcd:field-motivation>
                        <ilcd:field-requirement>r</ilcd:field-requirement>
                    </xs:appinfo>
                    <xs:documentation>Review information on data set.</xs:documentation>
                </xs:annotation>
                <!--<xs:unique name="ScopeUniqueConstraint">
          <xs:selector xpath="common:scope"/>
          <xs:field xpath="@name"/>
        </xs:unique>-->
                <xs:unique name="reviewDetailsUniqueConstraint">
                    <xs:selector xpath="common:reviewDetails"/>
                    <xs:field xpath="@xml:lang"/>
                </xs:unique>
                <xs:unique name="otherReviewDetailsLangUniqueConstraint">
                    <xs:selector xpath="common:otherReviewDetails"/>
                    <xs:field xpath="@xml:lang"/>
                </xs:unique>
            </xs:element>
            <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:anyAttribute namespace="##other" processContents="lax"/>
    </xs:complexType>
    <!--<xs:complexType name="VariableParameterType">
    <xs:sequence>
      <xs:element name="formula" type="common:MatR" minOccurs="0" edoc:id="1-1-12-32"/>
      <xs:element name="meanValue" type="common:Real" minOccurs="0" edoc:id="1-1-12-34"/>
      <xs:element name="minimumValue" type="common:Real" minOccurs="0" edoc:id="1-1-12-35"/>
      <xs:element name="maximumValue" type="common:Real" minOccurs="0" edoc:id="1-1-12-36"/>
      <xs:element name="uncertaintyDistributionType" type="common:UncertaintyDistributionTypeValues" minOccurs="0" edoc:id="1-1-12-37"/>
      <xs:element name="relativeStandardDeviation95In" type="common:Perc" minOccurs="0" edoc:id="1-1-12-38"/>
      <xs:element name="comment" type="common:StringMultiLang" minOccurs="0" maxOccurs="100" edoc:id="1-1-12-39"/>
      <xs:element ref="common:other" minOccurs="0" edoc:id="0"/>
    </xs:sequence>
    <xs:attribute name="name" type="common:MatV" use="required" edoc:id="1-1-12-33-1"/>
    <xs:anyAttribute namespace="##other" processContents="lax"/>
  </xs:complexType>-->
    <xs:element name="processDataSet" type="ProcessDataSetType">
        <xs:annotation>
            <xs:appinfo>
                <ilcd:element id="1" name="processDataSet"/>
                <ilcd:display-name>Datensatz</ilcd:display-name>
                <ilcd:iso-field-name>Process dataset</ilcd:iso-field-name>
                <ilcd:field-requirement>m</ilcd:field-requirement>
            </xs:appinfo>
            <xs:documentation>Data set for unit processes, partly terminated systems, and LCI results. May contain LCIA results as well.</xs:documentation>
        </xs:annotation>
        <xs:key name="exchangeInternalID">
            <xs:selector xpath="process:exchanges/process:exchange"/>
            <xs:field xpath="@dataSetInternalID"/>
        </xs:key>
        <xs:keyref name="referenceToReferenceFlows" refer="exchangeInternalID">
            <xs:selector xpath="process:processInformation/process:quantitativeReference/process:referenceToReferenceFlow"/>
            <xs:field xpath="."/>
        </xs:keyref>
        <!--<xs:keyref name="allocation" refer="exchangeInternalID">
      <xs:selector xpath="process:exchanges/process:exchange/process:allocations/process:allocation"/>
      <xs:field xpath="@internalReferenceToCoProduct"/>
    </xs:keyref>
    <xs:unique name="variableParameterUniqueConstraint">
      <xs:selector xpath="process:processInformation/process:mathematicalRelations/process:variableParameter"/>
      <xs:field xpath="@name"/>
    </xs:unique>
    <xs:keyref name="referenceToVariableParameter" refer="variableParameterUniqueConstraint">
      <xs:selector xpath="process:exchanges/process:exchange/process:referenceToVariable"/>
      <xs:field xpath="."/>
    </xs:keyref>-->
    </xs:element>
</xs:schema>
